################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Utilities/v17
/.vs/Utilities/FileContentIndex
